<!-- 通知欄 -->
%div.notification
  %p チャットグループが作成されました。

<!-- サイドメニュー -->
%div.menu
  %div.menu__user
    %h1
      Yuki Noguchi
      %span.icons
        %i(class="fa fa-cog" aria-hidden="true")
        %i(class="fa fa-pencil-square-o" aria-hidden="true")
  %div.menu__group
    %ul
      %li
        %div.group-name
          sample_group1
        %div.group-message
          まだメッセージはありません
      %li
        %div.group-name
          sample_group1
        %div.group-message
          まだメッセージはありません
      %li
        %div.group-name
          sample_group1
        %div.group-message
          まだメッセージはありません

<!-- チャット欄 -->
%div.main
  %div.main__header
    %h1
      sampleグループ
    %h2
      Aさん、Bさん
    %input.edit-btn{ type: :submit, value: "Edit" }
  %div.main__contents
    %div.message
      %div.main__contents__name
        yukinoguchi
      %div.main__contents__time
        2017年4月27日 06:30:40
      %div.main__contents__message
        こんにちは
    %div.message
      %div.main__contents__name
        yukinoguchi
      %div.main__contents__time
        2017年4月27日 06:33:01
      %div.main__contents__message
        こんにちは
  %div.main__inputarea
    %form
      %div.textarea
        %input.text{ type: :text }
        %input.img-btn{ type: :submit, value: "&#xf03e;".html_safe }
      %input.send-btn{ type: :submit, value: "Send" }