.wrapper
  = render 'shared/chat-menu'
  .chat-main
    .chat-main__header
      %h1
        aaa
      %h2
        Aさん、Bさん
      %input.edit-btn{ type: :submit, value: "Edit" }
    = render 'shared/chat-main'

