<!-- 通知欄 -->
.notification
  %p チャットグループが作成されました。

<!-- サイドメニュー -->
.chat-menu
  .chat-menu__user
    %h1
      Yuki Noguchi
      %span.icons
        %i(class="fa fa-cog" aria-hidden="true")
        %i(class="fa fa-pencil-square-o" aria-hidden="true")
  .chat-menu__group
    %ul
      %li
        .group-name
          sample_group1
        .group-message
          まだメッセージはありません
      %li
        .group-name
          sample_group1
        .group-message
          まだメッセージはありません
      %li
        .group-name
          sample_group1
        .group-message
          まだメッセージはありません

<!-- チャット欄 -->
.chat-main
  .chat-main__header
    %h1
      sampleグループ
    %h2
      Aさん、Bさん
    %input.edit-btn{ type: :submit, value: "Edit" }
  .chat-main__contents
    .message
      .chat-main__contents__name
        yukinoguchi
      .chat-main__contents__time
        2017年4月27日 06:30:40
      .chat-main__contents__message
        こんにちは
    .message
      .chat-main__contents__name
        yukinoguchi
      .chat-main__contents__time
        2017年4月27日 06:33:01
      .chat-main__contents__message
        こんにちは
    .message
      .chat-main__contents__name
        yukinoguchi
      .chat-main__contents__time
        2017年4月27日 06:40:10
      .chat-main__contents__message
        こんにちは
    .message
      .chat-main__contents__name
        yukinoguchi
      .chat-main__contents__time
        2017年4月27日 06:40:10
      .chat-main__contents__message
        こんにちは
    .message
      .chat-main__contents__name
        yukinoguchi
      .chat-main__contents__time
        2017年4月27日 06:40:10
      .chat-main__contents__message
        こんにちは
    .message
      .chat-main__contents__name
        yukinoguchi
      .chat-main__contents__time
        2017年4月27日 06:40:10
      .chat-main__contents__message
        こんにちは
    .message
      .chat-main__contents__name
        yukinoguchi
      .chat-main__contents__time
        2017年4月27日 06:40:10
      .chat-main__contents__message
        こんにちは
    .message
      .chat-main__contents__name
        yukinoguchi
      .chat-main__contents__time
        2017年4月27日 06:40:10
      .chat-main__contents__message
        こんにちは
    .message
      .chat-main__contents__name
        yukinoguchi
      .chat-main__contents__time
        2017年4月27日 06:40:10
      .chat-main__contents__message
        こんにちは
    .message
      .chat-main__contents__name
        yukinoguchi
      .chat-main__contents__time
        2017年4月27日 06:40:10
      .chat-main__contents__message
        こんにちは
    .message
      .chat-main__contents__name
        yukinoguchi
      .chat-main__contents__time
        2017年4月27日 06:40:10
      .chat-main__contents__message
        こんにちは
    .message
      .chat-main__contents__name
        yukinoguchi
      .chat-main__contents__time
        2017年4月27日 06:40:10
      .chat-main__contents__message
        こんにちは
    .message
      .chat-main__contents__name
        yukinoguchi
      .chat-main__contents__time
        2017年4月27日 06:40:10
      .chat-main__contents__message
        こんにちは
  .chat-main__inputarea
    %form
      .textarea
        %input.text{ type: :text }
        %input.img-btn{ type: :submit, value: "&#xf03e;".html_safe }
      %input.send-btn{ type: :submit, value: "Send" }
