@import "./modules/chat-body";
.chat-menu {
  overflow-y: auto;
  position: fixed;
  color: #ffffff;
  width: 260px;
  float: left;
  height: 100%;
    &__user{
      height : 88px;
      padding:0 20px 27px;
      background-color: #253141;
      width: 220px;
        h1{
          font-size: 16px;
          font-weight: bold;
          color: #ffffff;
          padding-top: 51px;
          position: relative;
          .icons{
            position: absolute;
            right: 40px;
          }
        }
    }
    .chat-menu__group{
      padding:0 20px 0;
      background-color: #2f3e51;
      min-height: calc(100% - 115px);
      &__box{
        color: #ffffff;
        margin: 0 -20px 0;
        padding: 0 20px 0;
        height: 100%;
        &:hover{
          background-color: rgba(47, 62, 81, 0.9);
        }
        .group-name{
          padding-top: 20px;
          font-size: 15px;
          margin-bottom: 5px;
        }
        .group-message{
          font-size: 11px;
          margin-bottom: 40px;
        }
      }
    }
}
