.menu {
  color: #ffffff;
  width: 260px;
  background-color: #2f3e51;
  float: left;
  height: 100%;
    .menu__user{
      height :88px;
      padding:0 20px 27px;
      background-color: #253141;
      position: fixed;
      width: 260px;
        h1{
          font-size: 16px;
          font-weight: bold;
          color: #ffffff;
          padding-top: 51px;
          position: relative;
          .icons{
            position: absolute;
            right: 40px;
          }
        }
    }
    .menu__group{
      padding:0 20px 0;
      margin-top: 124px;
      .group-name{
        font-size: 15px;
        margin-bottom: 5px;
      }
      .group-message{
        font-size: 11px;
        margin-bottom: 40px;
      }
    }
}
