html,body {
  height:100%;
  }

p{
  font-size:16px;
}

.notification {
  background-color: #38AEF0;
  width: 100%;
  position: fixed;
  p {
    color: white;
    text-align: center;
  }
}

.menu {
  color: #ffffff;
  width: 260px;
  background-color: #2f3e51;
  float: left;
  height: 100%;
    .menu__user{
      height :88px;
      padding:0 20px 27px;
      background-color: #253141;
        h1{
          font-size: 16px;
          font-weight: bold;
          color: #ffffff;
          padding-top: 51px;
          .icons{
          float: right;
          }
        }
    }
    .menu__group{
      padding:0 20px 0;
      margin-top: 20px;
      .group-name{
        font-size: 15px;
        margin-bottom: 5px;
      }
      .group-message{
        font-size: 11px;
        margin-bottom: 40px;
      }
    }
}

.main{
  background-color: #aaaaaa;
  height: 100%;
  float: right;
  .main__header{
    background-color: white;
    width: calc(100vw - 340px);
    padding:0 40px;
    border-bottom: #eeeeee;
    h1{
      padding-top: 51px;
      font-size: 20px;
      color: #333333;
      margin-bottom: 15px;
    }
    h2{
      font-size: 12px;
      color: #999999;
    }
  }
  .main__contents{
    width: calc(100vw - 340px);
    padding:0 40px;
    margin-top: 46px;
    .message{
      margin-bottom: 40px;
    }
      .main__contents__name{
        font-weight: bold;
        font-size: 16px;
        color: #434A54;
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
      }
      .main__contents__time{
        color: #999999;
        font-size: 12px;
      }
      .main__contents__message{
        clear: both;
        font-size: 14px;
        color: #434A54;
      }
  }
  .main__inputarea{
    width: calc(100vw - 340px);
    padding:0 40px;
  }
}
