html,body {
  height:100%;
  }

.notification {
  background-color: #38AEF0;
  width: 100%;
  p {
    color: white;
    text-align: center;
  }
}

.menu {
  width: 300px;
  background-color: #2f3e51;
  float: left;
  height: 100%;
}